@{
    ViewData["Title"] = "CannotLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <div class=" alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div>
    <a asp-action="Login">Back to Login</a>
</div>
